# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# ============================
# Virtual Environment
# ============================
venv/
.venv/
env/

# ============================
# Temp Files
# ============================
temp_file/*
!temp_file/.gitkeep

# ============================
# IDE
# ============================
.vscode/
.idea/

# ============================
# Environment & Secrets
# ============================
.env
*.log

# ============================
# OS
# ============================
.DS_Store
Thumbs.db
